@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-image: url(../assets/imgs/background.jpg);
  background-image: radial-gradient(circle, #3e3e3e, #515151, #646464, #787878, #8d8d8d, #8d8d8d, #8d8d8d, #8d8d8d, #787878, #646464, #515151, #3e3e3e);
}

.background {
  position: relative;
  height: 100vh;
  background-image: url(../assets/imgs/background.jpg);

  background-size: cover;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 80vw;
}

.form {
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  &__label {
    margin-top: 12px;
    font-size: 24px;
    align-self: start;
  }

  &__title {
    border: none;
    height: 36px;
    border-radius: 4px;
    align-self: stretch;
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  }

  &__content {
    border: none;
    border-radius: 4px;
    align-self: stretch;
    height: 96px;
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  }

  &__add {
    border: none;
    border-radius: 8px;
    font-size: 36px;
    margin-top: 16px;

    &:hover {
      background: silver;
    }
  }
}

.header {
  width: 100%;
  position: fixed;
  background: rgba(10, 10, 10, 0.253);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  color: white;
  padding: 12px;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  align-items: baseline;

  &__brand {
    margin: 0;
    letter-spacing: -2px;
    font-weight: 600;
  }

  &__navigation {
    list-style-type: none;
    font-size: 32px;
    display: flex;
  }

  &__button {
    padding: 0 24px;
  }
}

.main-container {
  padding: 96px 72px;
  color: black;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 60vw;
  }
}

.article {
  margin-top: 96px;

  &__header {
    margin: 6px;
    font-size: 48px;
  }

  &__area {
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: whitesmoke;
    margin: 0;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 24px;
  }

  &__button--remove {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: silver;
      color: rgb(151, 10, 10);
      box-shadow: 6px 6px 14px 1px rgba(00, 00, 00, 0.2);
    }
  }
}